<h1>Editing Location Supports Sport</h1>

<%= render 'form', location_supports_sport: @location_supports_sport %>

<%= link_to 'Show', @location_supports_sport %> |
<%= link_to 'Back', location_supports_sports_path %>
