<p id="notice"><%= notice %></p>

<p>
  <strong>Mainaddress:</strong>
  <%= @sports_club.mainaddress %>
</p>

<%= link_to 'Edit', edit_sports_club_path(@sports_club) %> |
<%= link_to 'Back', sports_clubs_path %>
