body {
    background-image: url(fondo.png);
		background-color: #E1E6FA !important;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		overflow-x:hidden;
}

/*BARRA NAVEGACION*/
.navfont{
	font-family: 'Comfortaa', cursive;
	font-size: 1.2em;
  padding: .1rem 1rem !important;
}
.nav-item{
  color: #183152 !important;
}

/*HOME*/
.regbutton{
	font-family: 'Comfortaa';
	margin-top: 0.8em;
  text-align: center;
  padding: 0 !important;
}
.olvpass{
	text-align: right;
	font-size: 0.7em;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

.titlehome{
	font-family: 'Comfortaa', cursive;
	font-style: bold;
	text-align: center;
	font-size: 5em;
	padding-top: 0.5em;
}
.subtitlehome{
	font-family: 'Comfortaa', cursive;
	font-style: italic;
	text-align: center;
	font-size: 2em;
}
.buttonhome{
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em !important;
  padding: 0em !important;
	padding-left: 1em !important;
	padding-right: 1em !important;
	color: #183152;
}
.divbutton{
	padding-top: 0.5em;
}
.divlogin{
	padding: 0.5em;
	border-radius: 10px;
	margin-top: 0.5em;
}
.labellogin{
	margin-left: 0.5em;
}

/*COLORES*/
.firstbc{
  background-color: #E1E6FA !important;
}
.secondbc{
	background-color: #C4D7ED !important;
}
.thirdbc{
	background-color: #ABC8E2 !important;
}
.fourbc{
	background-color: #375D81 !important;
}
.fivebc{
	background-color: #183152 !important;
}
.firstc{
	color: #E1E6FA !important;
}
.secondc{
  color: #C4D7ED !important;
}
.thirdc{
	color: #ABC8E2 !important;
}
.fourc{
	color: #375D81 !important;
}
.fivec{
	color: #183152 !important;
}

/*AJUSTES*/
#delBottom{
	margin-bottom: 0.1em !important;
}
.textPuntaje{
	font-size: 15px;
	margin-top: 4px;
	margin-bottom: 6px !important;
}

.buttonAjustes{
	width: 90%;
	height: 40px;
	font-size: 15px !important;
	margin-bottom: 5px !important;
}
.buttonEstadisticas{
	width: 100%;
	height: 50px;
	font-size: 22px !important;
	margin-bottom: 5px !important;
}
.divEst{
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.center{
	text-align: center !important;
}
.separador{
	padding: 1em;
}


/*FUENTES*/
.comfortaa{
	font-family: 'Comfortaa', cursive;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.permanent{
	font-family: 'Permanent Marker', cursive;
}
.carter{
  font-family: 'Carter One', cursive;
}
.pacifico{
  font-family: 'Pacifico', cursive;
}
.Squada{
  font-family: 'Squada One', cursive;
}


#navlogo{
	width: 2em;
}

#comencemos{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-style: bold;
}
#titleselector{
	margin: 0.5em;
	padding-top: 0.5em;
	font-style: italic;
}

.divselector{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block;
	border: 0.3em solid #183152;
	border-radius: 10px; /* para que solo ocupe el ancho de la imagen */
}
.divcol{
	border-radius: 10px;
}
.card-title{
	position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  right: 1rem;
	z-index:2;
	font-style: bold;
	font-size: 0.8em;
	border-radius: 10px;
}

.flotante{
	position: absolute;    /* posición absolute con respecto al padre */
	bottom: 0;
	z-index:1;
	top:0;
	left:0;
	margin-top: 0.2em;
	opacity: 0.7;
}
.relative{
	position: relative;
}

#interfaz{
  margin-top: 2em;
}
#map{
   width: 100%;
   height: 400px;
}

.col-6, .col-2, .col-4, .col-8, .col-3{
  position: relative;
  min-height: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


#divlista{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

#listajugadores{
 padding-top: 0.5em;
 padding-bottom: 0.5em;
}
#divjugadores{
  border-radius: 5px;
}
.bmargen{
  margin: 0.2em;
}
.fuentelista{
  font-size: 0.8em;
}

#diveventos{
  background-image: url(fondoe.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 10px;
}

#logopng{
  margin: auto;
  display: block;
  width: 45%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.centerdiv{
  margin: auto;
}
.inputReg{
  margin-bottom: 0.2em;
  padding-left: 5px !important;
  padding-right: 5px !important;
  max-width: 90% !important;
}

.buttonReg{
  width: 100%;
  border-radius: 5px;
  padding: 0 !important;
}
.buttonLogin{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.3em;
  padding: 0 !important;
}
.divReg{
  margin: auto;
  padding: 0 !important;
  border-radius: 5px;
	padding-bottom: 0.5em !important;
}

.containerReg{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.formGReg{
  margin-bottom: 0 !important;
}
.divGoogle{
    margin: auto;
}
.separadorReg{
  text-align: center;
  font-size: 12px !important;
  margin-bottom: 0 !important;
}
.formReg{
  height: calc(1.6rem + 2px)!important;
  font-size: 14px !important;
}
.condicionesReg{
  font-size: 12px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0 !important;
}

#containerEven{
  margin-top: 1em;
}

#loginButton{
  width: 150px;
  height: 50px;
}

#logohome{
  margin: auto;
  display: block;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
.welcomeText{
  text-align: center;
  padding-bottom: 0;
  padding-top: 1em;
}

#textBienvenido{
  font-size: 2.5em !important;
  margin-bottom: 0 !important;
}
#textLine{
  font-size: 0.75em !important;
}
#imgLogo{
  width: 100%;
display: block;
margin: auto;
}
#imgEvento{
	width: 74%;
	display: block;
	margin: auto;
}

.EventoDivUp{
	margin-bottom: 0.3em;

}
.InfoDiv{
	margin: auto;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#map{
	width: auto !important;
	margin: 0.4em !important;
}

#Pickers{
	margin: 0.4em !important;
	height: 97%;
  padding: 0.2em;
}

#InfoPartida{
	 margin: 0.4em !important;
}

#LogoEvento{
	padding-top: 3.5em;
	margin: auto;
	margin-bottom: 1.5em;
}

}
.mAuto{
	margin: auto !important;
}
.createForm{
	width: 90% !important;
	margin: auto !important;
	margin-bottom: 0.2em !important;
	height: calc(1.8rem + 2px) !important;
}

.descForm{
	width: 100% !important;
	margin: auto !important;
	margin-bottom: 0.2em !important;
}

.arForm{
	justify-content: center;
	size: 90%;
	width: auto !important;
	margin: auto !important;
	margin-bottom: 0.2em !important;
}
.mLista{
	justify-content: center;
	min-width: 800;
	margin: auto;
	background-color: inherit !important;
}
.mContent {
  padding: 0px !important;
	margin: inherit !important;
	background: inherit !important;
	background-color: inherit !important;
	}

.marginAuto{
	margin: auto !important;
}

.DivInfo{
	margin-bottom: 0.5em !important;
}
.DivInfoS{
	margin-bottom: 0.5em !important;
	margin-top: 0.5em !important;
}
.buttonCrear{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.3em;
  padding: 0 !important;
	height: 50px;
	font-size: 24px !important;
	margin-top: 0.2em;
}
.birthPicker{
	padding-left: 0.6em !important;
padding-right: 0.6em !important;
margin-top: 0.3em !important;
}
.ui.card {
  display: inline-block;
  }

.ui.card,
.ui.cards>.card {
	display: inherit;
  color: black;
	font-size: 18px !important;

}
.DivInfoU{
	margin-bottom: 0.5em !important;
	margin-top: 0.5em !important;
	color: white;
}

.formulario{
  font-family: 'Comfortaa', bold;
  color: #ffffff !important;

}
.formulario2{
  font-family: 'Comfortaa', cursive;
  color: #ffffff !important;
}

.CircularProgressbar {
	  width: 100%;
	}

	.CircularProgressbar .CircularProgressbar-path {
	  stroke: #3e98c7;
	  stroke-linecap: round;
	  transition: stroke-dashoffset 0.5s ease 0s;
	}

	.CircularProgressbar .CircularProgressbar-trail {
	  stroke: #d6d6d6;
	}

	.CircularProgressbar .CircularProgressbar-text {
	  fill: #3e98c7;
	  font-size: 20px;
	  dominant-baseline: middle;
	  text-anchor: middle;
	}

	.CircularProgressbar .CircularProgressbar-background {
	  fill: #d6d6d6;
	}

	/*
	 * Sample background styles. Use these with e.g.:
	 *
	 *   <CircularProgressbar
	 *     className="CircularProgressbar-inverted"
	 *     background
	 *     percentage={50}
	 *   />
	 */
	.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
	  fill: #3e98c7;
	}

	.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
	  fill: #fff;
	}

	.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
	  stroke: #fff;
	}

	.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
	  stroke: transparent;
	}


	@font-face {
	  font-family: 'Material Icons';
	  font-style: normal;
	  font-weight: 400;
	  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	  src: local('Material Icons'),
	    local('MaterialIcons-Regular'),
	    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
	}
	.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;  /* Preferred icon size */
	  display: inline-block;
	  line-height: 1;
	  text-transform: none;
	  letter-spacing: normal;
	  word-wrap: normal;
	  white-space: nowrap;
	  direction: ltr;

	  /* Support for all WebKit browsers. */
	  -webkit-font-smoothing: antialiased;
	  /* Support for Safari and Chrome. */
	  text-rendering: optimizeLegibility;

	  /* Support for Firefox. */
	  -moz-osx-font-smoothing: grayscale;

	  /* Support for IE. */
	  font-feature-settings: 'liga';
	}
